body {
    background-color: #8ed1d1;
}

h1 {
    font-size:70px; 
    text-align: center; 
    color: black; 
    font-family: 'Arial';
}

a {
    font-family:'Arial';
    color: white; 
}

.homework {
    text-align: center; 
    background-color: black;
    width: 60%;
    border: 5px solid navy;
    padding: 30px;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px; 
}

.homework:hover {
    background-color: lightgrey;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(30, 57, 148, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    height: 300px; 
    text-align: center;
}