body{
    margin: 0px; 
    background-image: url("images/paper.jpeg"); 
    background-size: 100%;
  }
  
.header { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: black; 
    font-family: 'Poiret One'; 
    font-weight: bold; 
    font-size: 36px; 
    padding: 10px; 
    cursor: pointer; 
}