#body {
    background-image: url("images/howl.jpeg"); 
    background-size: 100%;
    background-position-x: center;
}
  
.header { 
    position: fixed; 
    top: 0px; 
    left: 40%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white; 
    font-family: 'Poiret One'; 
    font-weight: bold; 
    font-size: 36px; 
    padding: 10px; 
    cursor: pointer; 
}

.middle-container {
    height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.middle-container, .column{
    display: flex; 
    align-items: center;
    flex-direction: row;
}

.inner-column {
    display: flex; 
    align-items: center;
    flex-direction: column;;
}

.middle {
}

.side {
    width: 400px; 
    background-color: white; 
}

.icon {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    cursor: pointer; 
}

.icon:hover{
    border-width: 5px; 
    border-color: #1f6679; 
    border-style: dashed; 
}